<%- include("partials/header") %>
<section id="edit">
    <% if (data) { %>
    <h1 style="text-align: center; color: black;">Patient Details</h1>
  <form style="margin: 5%;" method="post" action="/edit/update" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Id</label>
          <input class="form-control" id="pId" placeholder="Id" name="PatientId" value="<%= data.id %> " required readonly="readonly">
        </div>
        <div class="form-group col-md-6">
          <label >Name</label>
          <input class="form-control" id="pName" placeholder="Name" name="Patientname" value="<%= data.name %> " required>
        </div>
      </div>
	  <div class="form-row">
        <div class="form-group col-md-6">
          <label>Phone</label>
          <input class="form-control" id="phone" type="text" placeholder="Phone" name="Phone" value="<%= data.phone %> " required>
        </div>
        <div class="form-group col-md-6">
          <label >Email</label>
          <input class="form-control" id="email" type="email" placeholder="Email Id" value="<%= data.email %> " name="email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Address Line 1</label>
          <input class="form-control" id="add1" type="text" placeholder="Address Line 1" name="add1" value="<%= data.add1 %> " required>
        </div>
        <div class="form-group col-md-6">
          <label >Address Line 2</label>
          <input class="form-control" id="add2" type="text" placeholder="Address Line 2" value="<%= data.add2 %> " name="add2">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Age</label>
          <input class="form-control" id="add2" type="text" placeholder="Age" value="<%= data.age %> " name="age" required>
        </div>  
        <div class="form-group col-md-6">
              <label for="dr">Diabetic Retinopathy</label>
              <select name="dr" class="form-control" id="dr" style="text-align: center;">
                  <option value="0" <%= data.dr == 0?'selected':'' %> >No DR</option>
                  <option value="1" <%= data.dr == 1?'selected':'' %>>Mild DR</option>
                  <option value="2" <%= data.dr == 2?'selected':'' %>>Moderate DR</option>
                  <option value="3" <%= data.dr == 3?'selected':'' %>>Severe DR</option>
                  <option value="4" <%= data.dr == 4?'selected':'' %>>Proliferative DR</option>
              </select>
          </div>
      </div>
      <button type="submit" class="btn btn-block btn-lg btn-outline-success angled-gradient-button">Confirm</button>
    </form>
	<% } else { %>
        <h1 style="text-align: center; color: black;">No Patient Found</h1>
    <% } %> 
</section>
<%- include("partials/footer") %>  